body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    text-align: justify;
}

.recuo {
    text-indent: 4em; 
}

img{
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 10px 67px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

/*li a.active {
    color: white;
    background-color:#f3f3f3 ;
}

#4CAF50*/