body {
	text-align: justify;
	margin-right: 250px;
	margin-left: 250px;
	
}

.centraliza h1 {
	text-align: center;
}

.container01 img{
	margin-left: 250px;
}

.alinha_botao_right button {
	display: inline;
}

